*{
  box-sizing: border-box;
}

html{
  font-size: 10px;
}

body {
  width: 80%;
  margin: auto;
  background-color:#004C75;
}

h1{
  font-size: 4rem;
  font-weight: 400;
  color: white;
}

h2{
  font-size: 3.5rem;
  font-weight: 400;
  color: white;
}

h3{
  font-size: 3rem;
  font-weight: 400;
  color: white;
  padding-top: 2em
}

h5{
  font-size: 2rem;
  margin-top: 1rem;
  color: white;
}

p{
  font-weight: 100;
  margin-top: 1rem;
  color: white;
  font-size: 1.6rem
}

/*--------Nav--------*/

.nav{
  display: flex;
  align-items: center;
  height: 100px;
}

.navitems, .logo{
  flex: 1;
  font-size: 1.6em;
}

.navitems{
  text-align: right;
}

li, a{
  display: inline;
  text-decoration: none;
  color: white;
  margin-left: 3%;
}

.castwrapper{
  display: flex;
  justify-content: space-between;
  margin: 20em 0;
}

.castL{
  width: 80%;
}

.castR{
  width: 90%;
}

.myCast{
  width: 60%;
}

.iaphoto{
  width:50%;
}

.iawrapper{
  display: flex;
  justify-content: space-between;
  margin: 20em 0;
}

.iaL{
  width: 50%;
}

.iaR{
  width: 50%;
}
